nav {
  background: rgb(247, 242, 242);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.nav-toggle {
  font-size: 1.5rem;
  color: hsl(205, 78%, 60%);
  background: transparent;
  border-color: transparent;
  transition: all 0.3s linear;
  cursor: pointer;
}

.nav-toggle:hover {
  color: hsl(205, 86%, 17%);
  transform: rotate(180deg);
}

.logo {
  height: 30px;
  font-weight: 300;
  letter-spacing: 2px;
}

ul {
  list-style-type: none;
}

.li-link {
  color: hsl(209, 34%, 30%);
  font-size: 1.4rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0.5rem 1rem;
  transition: all 0.3s linear;
  text-decoration: none;
}

.li-link:hover {
  background: hsl(205, 86%, 81%);
  color: hsl(205, 78%, 60%);
  padding-left: 1.5rem;
  text-decoration: underline;
}

.social-icons {
  display: none;
}

.links-container {
  /* height: 0; */
  overflow: hidden;
  transition: all 0.3s linear;
}

.show-container {
  height: 10rem;
}

.nav-center {
  font-family: fantasy;
}

@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  .nav-header {
    padding: 0;
  }

  .nav-toggle {
    display: none;
  }

  .links-container {
    height: auto !important;
  }

  .links {
    display: flex;
  }

  .li-link {
    padding: 0;
    margin: 0 0.5rem;
  }

  .li-link:hover {
    padding: 0;
    background: transparent;
  }

  .social-icons {
    display: flex;
  }

  .social-icons a {
    margin: 0 0.5rem;
    color: hsl(205, 78%, 60%);
    transition: all 0.3s linear;
  }

  .social-icons a:hover {
    color: hsl(205, 90%, 76%);
  }
}
