@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@200&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* body { */
  /* height: 90vh; */
  /* display: flex; */
  /* position: relative; */
  /* background-color: rgb(59, 10, 194); */
/* } */

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border: none;
  background-color: blue;
  color: white;
  border-radius: 10px;
  font-size: 18px;
  box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.7);
}

/*********************** Recipes section *************************/

.error {
  font-size: 60px;
  text-align: center;
  margin: 30px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  /* margin: 10px; */
  justify-content: center;
  /* background: url("https://cdn.pixabay.com/photo/2017/06/06/22/46/mediterranean-cuisine-2378758_960_720.jpg"); */
  /* background-size: contain; */
  background: burlywood;
}

/*********************** Navbar section *************************/

nav {
  /* background: rgb(247, 242, 242); */
  /* box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5); */
  background-color: rgb(202, 200, 200);
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.nav-toggle {
  font-size: 1.5rem;
  color: hsl(205, 78%, 60%);
  background: transparent;
  border-color: transparent;
  transition: all 0.3s linear;
  cursor: pointer;
}

.nav-toggle:hover {
  color: hsl(205, 86%, 17%);
  transform: rotate(180deg);
}

.logo {
  /* height: 30px; */
  letter-spacing: 2px;
  font-family: none;
  font-style: italic;
}

ul {
  list-style-type: none;
}

.li-link {
  color: hsl(209, 34%, 30%);
  font-size: 1.3rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0.5rem 1rem;
  transition: all 0.3s linear;
  text-decoration: none;
}

.li-link:hover {
  background: hsl(205, 86%, 81%);
  color: hsl(205, 78%, 60%);
  padding-left: 1.5rem;
  text-decoration: underline;
}

.social-icons {
  display: none;
}

.links-container {
  /* height: 0; */
  overflow: hidden;
  transition: all 0.3s linear;
}

.nav-center {
  font-family: fantasy;
}

@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
  }

  .nav-header {
    padding: 0;
  }

  .nav-toggle {
    display: none;
  }

  .links-container {
    height: auto !important;
  }

  .links {
    display: flex;
  }

  .li-link {
    padding: 0;
    margin: 0 0.5rem;
  }

  .li-link:hover {
    padding: 0;
    background: transparent;
  }

  .social-icons {
    display: flex;
  }

  .social-icons a {
    margin: 0 0.5rem;
    color: hsl(205, 78%, 60%);
    transition: all 0.3s linear;
  }

  .social-icons a:hover {
    color: hsl(205, 90%, 76%);
  }
}

/*********************** Home section *************************/

/* #root { */
  /* height: 100%; */
/* } */

.main-container{
  background-color: rgb(59, 10, 194);
  position: absolute;
  height: 93.5%;
  /* position: relative; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: stretch; */
  /* background: rgb(35, 183, 241); */
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* justify-content: space-evenly; */
  /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif */
}

/* .heightDiv {
  display: table-row;
} */

.about {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  margin: auto 0;
  /* justify-content: space-around; */
  /* gap: 4rem; */

}

.about-me {
  font-size: 27px;
  line-height: 1.3;
  color: white;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  /* margin-top: auto; */
}

.about-header {
  color: rgb(255, 210, 64);
  text-transform: uppercase;
  font-family: 'Rajdhani', sans-serif;
}

.about > h4 {
  padding-bottom: 20px;
  color: white;
  font-weight: normal;
  font-family: 'Poiret One';
  text-align: left;
}

.skills {
  /* text-align: center; */
  display: flex;
  /* height: 459px; */
  /* margin-left: 20%; */
  /* margin-top: 10%; */
  justify-content: space-evenly;
  background-color: rgb(59, 10, 194);
  flex-basis: 75%;
  padding: 15px;
  /* height: 70%; */
  /* flex-grow: 1; */
  /* flex-shrink: 0; */
  /* position: absolute; */
  /* top: 0; */
  /* justify-content: space-around; */
  /* justify-content: center; */
}

.skill-header {
  font-size: 23px;
  padding: 1px;
  /* font-style: italic; */
  font-weight: bold;
}

/* .my-image {
  flex-basis: 60%;
} */

.icons {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.icon {
  width: 3.875rem;
  height: 3.875rem;
  justify-content: center;
  /* background: rgb(34, 173, 228); */
  /* box-shadow: 2px 2px 2px 1px rgba(29, 89, 94, 0.6); */
  margin: 5px 15px 5px 0px;
  border-radius: 25px;
}

.icons, .about-me, .skill-header, .about-header {
  border-radius: 25px;
}

.skill-header {
  /* box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.7); */
  background: rgb(40, 41, 41);
  width: 3.875rem;
  margin-right: 15px;
}

.contact {
  width: 150px;
  font-size: larger;
  height: 35px;
  border: none;
  font-weight: bold;
  letter-spacing: 1px;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(182, 98, 98) 0%);
  color: white;
  cursor: pointer;
}

@media screen and (min-width: 426px) {
  /* .icon {
    width: 4.875rem;
    height: 3.25rem;
  } */

  .about-me {
    font-size: 36px;
  }

  .skill-header {
    margin-bottom: 0;
    width: 4.875rem;
  }
}

@media screen and (min-width: 588px) {

  /* .skills-container {
    margin: auto 0;
    flex-basis: 40%;
  } */

  /* .skills {
    justify-content: space-between;
  } */

  .main-header {
    flex-basis: 100%;
  }

  .main-header > h1 {
    width: auto;
  }

  .skill-header {
    font-size: 28px;
  }

  .about-me {
    font-size: 40px;
    /* overflow: auto; */
  }
}

@media screen and (min-width: 798px) {

  /* .about {
    flex-basis: 40%;
  } */

  .about-me {
    font-size: 48px;
  }

  /* .skills-container {
    flex-basis: 40%;
  } */

  .skill-header {
    width: 5rem;
  }

  /* .skills {
    height: 380px;
  } */

  .icon {
    width: 4.25rem;
    height: 4.25rem;
  }

  
}

/* @media screen and (min-width: 784px) {
  .about-me {
    font-size: 24px;
  }
} */

/*********************** Projects section *************************/

/* .projects-container, .skills-container {
  display: table-row;
  height: fit-content;
} */

.projects {
  display: flex;
  justify-content: space-evenly;
  background: rgb(202, 162, 109);
  /* height: fit-content; */
  /* flex-grow: 1; */
  flex-basis: 25%;
  /* position: absolute; */
  /* bottom: 0; */
  /* align-items: center; */
  /* padding-top: 10px; */
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Sarabun', sans-serif;
  letter-spacing: 1px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  padding: 10px 20px;
}

.project > h3, h4 {
  /* padding: 5px; */
  text-align: center;
}

.project > h3 {
  padding-top: 5px;
}

.project > h4 {
  color: #535353;
  padding: 5px 0 10px 0;
}

.pbtn {
  border: none;
  background: turquoise;
  border-radius: 20px;
  height: 25px;
  width: 80px;
  color: rgb(240, 240, 240);
  text-align: center;
  padding-top: 3px;
  font-family: 'Vollkorn', serif;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.7);
}

@media screen and (min-width: 428px) {
  .pbtn {
    width: 100px;
    font-size: 15px;
    height: 25px;
  }
}

@media screen and (min-width: 520px) {
  .pbtn {
    width: 130px;
    font-size: 18px;
    height: 30px;
  }
}

/* .projects-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background: rgb(240, 240, 240);
  width: 100%;
  font-family: none;
}

.cards-title {
  text-align: center;
  font-size: 28px;
  margin: 5px auto;
  padding: 5px;
  border-radius: 25px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.cards {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 10px;
}

.card {
  margin: 20px 0 10px 0;
  background: rgb(247, 244, 244);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  padding: 5px;
}


@media screen and (min-width: 910px) {
  .projects-container {
    flex-direction: row;
    justify-content: center;
  }

  .cards {
    flex-direction: row;    
    width: 100%;
  }

  .card {
    font-size: 20px;
  }

} */

/*********************** Card section *************************/

.desc,
.title,
.linkBtn {
  /* width: 100%; */
  height: auto;
}

.image {
  width: 50%;
  height: 120px;
  margin-left: 25%;
}

.title {
  font-size: 35px;
  text-decoration: underline;
  color: rgb(20, 27, 27);
  text-align: center;
}

.desc {
  padding: 10px 2px;
  white-space: pre-line;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
  text-align: center;
}

.linkBtn-container {
  /* width: 100%; */
  background: rgb(196, 193, 193);
  text-align: center;
  border-radius: 20px;
}

.linkBtn {
  /* height: 30px; */
  font-family: fantasy;
  font-size: 20px;
  /* text-decoration: none; */
  color: blue;
  letter-spacing: 2px;
  /* width: 100%; */
  transition: all 0.5s;
  text-decoration: none;
}

.linkBtn:hover {
  color:rgb(0, 119, 255);
  text-decoration: underline;
}



/*********************** Hero section *************************/

.hero-container {
  width: 100%;
  display: flex;
  /* justify-content: center; */
  background: rgb(199, 164, 118);
  /* margin: 15px 0; */
  /* box-shadow: 3px 5px 10px 4px rgba(0, 0, 0, 0.7); */
}

.hero {
  width: 50%;
  height: auto;
  margin: 5px;
}

.hero-about {
  font-size: 14px;
  flex-basis: 50%;
  /* font-family: Arial, Helvetica, sans-serif; */
  padding: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  color: rgb(22, 21, 21);
  line-height: 1.3;
}

@media screen and (min-width: 838px) {
  .hero {
    height: 300px;
  }

  .hero-about {
    font-size: 22px;
  }
}

/*********************** Search section *************************/

.search-container {
  display: flex;
}

.search-form {
  margin: 10px auto;
}

.form-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

/* .form-container > label,
#name {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
} */

.form-container > label {
  font-size: 16px;
  color: #414040;
  letter-spacing: 1px;
  font-weight: bold;
}

#name {
  margin-left: 10px;
  padding-left: 3px;
}

@media screen and (min-width: 462px) {
  .form-container > label {
    font-size: 25px;
  }

  #name {
    font-size: 18px;
  }
}

/*********************** Dish section *************************/

.item {
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
  border: 4px solid rgb(158, 96, 4);
  background: url("https://cdn.pixabay.com/photo/2016/11/18/14/05/brick-wall-1834784_960_720.jpg");
  background-size: cover;
  box-shadow: 3px 5px 14px rgba(0, 0, 0, 0.7);
}

.name,
.caregory {
  width: 250px;
  font-size: 23px;
  font-weight: bold;
  background: rgba(210, 105, 30, 0.7);
  text-align: center;
  height: 100%;
  display: flex;
}

.info-link {
  text-decoration: none;
  color: #000;
  margin: auto;
}

.item-img {
  height: 150px;
}

.instructions {
  overflow: scroll;
  width: 200px;
  height: 200px;
}

@media screen and (min-width: 400px) {
  .instructions {
    width: 300px;
  }

  .item-img {
    width: 220px;
    /* margin-bottom: 5px; */
  }
}

@media screen and (min-width: 500px) {
  .instructions {
    width: 400px;
  }

  .name,
  .caregory {
    width: 350px;
  }
}

/*********************** DishInfo section *************************/

.back-btn {
  width: 120px;
  height: 30px;
  border-radius: 10px;
  text-align: center;
  padding: auto;
  font-size: 23px;
  background: rgb(0, 132, 255);
  color: #000;
  text-decoration: none;
  margin: 10px;
  /* flex-basis: 100%; */
  align-self: center;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
  flex-shrink: 0;
}

.dish {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: chocolate;
  box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.7);
  padding: 15px;
}

.info-container {
  display: flex;
  flex-direction: column;
}

.dish-img,
.dish-cat,
.dish-name,
.dish-ins,
.dish-ing,
.dish-measure {
  margin: 5px;
  font-size: 21px;
  letter-spacing: 1px;
}

.dish-img {
  width: auto;
  height: 300px;
}

.dish-name,
.dish-cat {
  font-size: 25px;
}

.dish-ins {
  max-width: 100%;
  line-height: 140%;
  flex-basis: 100%;
}

.ing-measure-container {
  display: flex;
  flex-basis: 100%;
  margin: 20px 0;
}

.dish-ing,
.dish-measure {
  margin: 0 20px;
}

@media screen and (min-width: 500px) {
  .dish-img {
    width: 65%;
    align-self: center;
  }
}

@media screen and (min-width: 768px) {
  .dish-img {
    width: 400px;
  }
}

@media screen and (min-width: 830px) {
  .dish {
    width: 95%;
    margin: 50px auto;
  }
}

@media screen and (min-width: 1000px) {
  .dish {
    /* flex-wrap: nowrap; */
    flex-direction: row;
    justify-content: space-evenly;
  }

  .dish-img {
    flex-basis: 40%;
    /* margin-right: 15px; */
    align-self: flex-start;
  }

  .dish-cat,
  .dish-name {
    align-self: center;
  }

  .info-container,
  .ing-measure-container {
    justify-content: center;
  }

  .info-container {
    flex-basis: 50%;
  }
}
